
body {
    background-color: #0d0d0d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* página ingresar usuario */
.full-height-custom {
  min-height: 100vh;
}


.btn-primary {
  --bs-btn-bg: #c7a9e3; 
  --bs-btn-border-color: #8a2be2;
  --bs-btn-hover-bg: #6a1ba5; 
  --bs-btn-hover-border-color: #6a1ba5;
  --bs-btn-color: #151515;
}

/* para que texto de bienvenida no sea seleccionable */
.no-seleccionable {
  user-select: none;
}

/* ======= SECCIONES ======= */

.fondoSecciones {
    background-color: #1e1e1e;
    box-shadow: none;
}

/* =======  USUARIO ======= */
.dropdown-toggle {
    background-color: #a685e2 !important;
    color: white !important;
    border: none;
}

.dropdown-menu {
    background-color: #3a3a3a;
}

.dropdown-item:hover {
    background-color: #a685e2;
    color: white;
}

/* Enlace Agregar tarea */
.col-2 a {
    color: #a685e2;
}

.col-2 a:hover {
    color: #c7b0f0;
}

/* ======= NAVBAR ======= */
.navbar {
    background-color: #a685e2 !important;
}


/* ======= FECHAS ======= */

.circuloFecha {
    background-color: #3a3a3a;
    color: white;
    border: 8px solid #a685e2 !important; 
    transition: 0.2s ease;
}

.circuloFecha:hover {
    background-color: #a685e2;
    border-color: #ffffff !important;
}

.colorLila{
    color: #a685e2;
}


/* ===== Flechas ===== */
.btn-light {
    background-color: #bfbfbf !important;
    color: #6a4fb9 !important;
    border: none;
    transition: 0.2s ease;
}

.btn-light:hover {
    background-color: #a685e2 !important;
    color: white !important;
}

/* Boton resaltado */
.seccionResaltada {
    background-color: #a685e2;
}
